
<%- include("partials/header") %>
<!-- <a href="/campgrounds">View all campgrounds!!</a> -->
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
         
            <img src="image gg/image1.jpg" alt="Raipur" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Raipur</h3>
                <p>The heart of C.G.</p>
            </div>
          
        </div>
        <div class="carousel-item">
            <img src="image gg/ramMandir1.jpg" alt="Raipur" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Ram Mandir</h3>
                <p>A beautiful Temple of Lord Rama has been built at VIP Road in 2017.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="image gg/ambuja.jpg" alt="Raipur"
                width="1100" height="500">
            <div class="carousel-caption">
                <h3>Ambuja City Centre</h3>
                <p>A world-class lifestyle destination in Raipur</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<section class="my-5" id="CityTour">
    <div class="py-5">
        <h2 class="text-center">
            City Tour
        </h2>
        <p id="city" style="font-size:20px;color:whitesmoke">
            Raipur is a beautiful city situated in Chhattisgarh in Central India.It has been ranked as India's 6th cleanest city as per the Swachh Survekshan for the year 2021.
        </p>
    </div>


    <!-- City tour section -->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top" src="image gg/iskcon.jpg" alt="Card image" width="200" height="300">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Religious :</h4>
                        <p class="card-text" id="cm">Worship brings our bright
                            side </p>
                        <a href="/campgrounds" class="btn btn-outline-secondary">visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top"
                        src="image gg/viveka.jpg"
                        alt="Card image" width="200" height="300">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Historical :</h4>
                        <p class="card-text" id="cm">Heritage is our pride</p>
                        <a href="/campgrounds" class="btn btn-outline-secondary">visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top"
                        src="image gg/newRaipur.jpg"
                        alt="Card image" width="200" height="300">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Nature :</h4>
                        <p class="card-text" id="cm">Its a way to relax from usual days</p>
                        <a href="/campgrounds" class="btn btn-outline-secondary">visit</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top" src="image gg/pvr.jpg" alt="Card image" width="200" height="300">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Movie Theater :</h4>
                        <p class="card-text" id="cm">Experience some emotions. </p>
                        <a href="/campgrounds" class="btn btn-outline-secondary">visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top" src="image gg/unnamed.jpg" alt="Card image" width="200" height="300">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Food :</h4>
                        <p class="card-text" id="cm">Food is real fun when you are in Raipur.</p>
                        <a href="/campgrounds" class="btn btn-outline-secondary">visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top"
                        src="image gg/mmFunCity.jpg"
                        alt="Card image" width="200" height="300">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Fun in Raipur:</h4>
                        <p class="card-text" id="cm">Elate yorself in RAIPUR.</p>
                        <a href="/campgrounds" class="btn btn-outline-secondary">visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    
</section>
<!-- <section class="my-5" id="review">
    <div class="py-5">
        <a href="review.html" class="btn btn-primary btn-lg btn-block">Reviews</a>
    </div>
</section> -->
<section class="my-5" id="about">
    <div class="py-5">
        <h2 class="text-center">
            About Us
        </h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="image gg/vidhansabha.jpg" class="img-fluid aboutimg">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h4 class="display-4">We are the localites</h4>
                <p class="py-0">
                    This site is one of our dream to show you guys one of the dream city of india.
                    We love our city so we wanted you to know the beautiful places of raipur. Since it is
                    cleanest city of india so many people come to visit and learn about the garbage system
                    management of raipur.
                    Our site will give you an insight about the city and the most popular and beautiful places.
                </p>
                <a href="homepage.html" class="btn btn-success">Want to know more</a>
            </div>
        </div>
    </div>

</section>
<%- include("partials/footer") %>
